@model Int32[]

@foreach (var item in Model)
{
    @item
}

<br />
<br />
@foreach (var item in Model)
{
    @Html.Raw(item + " ")
}

<br />
<br />
<ul>
    @foreach (var item in Model)
    {
        <li>@item</li>
    }
</ul>